<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alle Biler & Tilføj Bil</title>
  <link rel="icon" href="/img/fav.png" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="layout">

  <div class="header">
    <div class="logo">
      <a th:href="@{/dashboard}"><img src="/img/Logo.png" alt="BILABONNEMENT Logo"></a>
    </div>
    <h3>Medarbejderportal</h3>
    <nav>
      <a th:href="@{/dashboard}" class="back-btn">Tilbage</a>
      <a th:href="@{/}" class="back-btn">Log ud</a>
    </nav>
  </div>

  <section class="hero">
    <h1>Velkommen til Tilføj Bil</h1>
    <p>Tilføj nye biler</p>
  </section>

  <main class="main-content">

    <section class="viewCar-dashboard">
      <div class="search-card">
        <h3>Tilføj Ny Bil</h3>
        <form th:action="@{/cars/add}" method="post">

          <label>Stelnummer:</label>
          <input type="text" name="chassisNumber" required><br>

          <label>Nummerplade:</label>
          <input type="text" name="licensePlate" required><br>

          <label>Registreringsnummer:</label>
          <input type="text" name="vehicleNumber" required><br>

          <label>Co2 udledning (kg CO2 per. 1000 km):</label>
          <input type="number" name="carEmission" required><br>

          <label>År:</label>
          <input type="number" name="year" required><br>

          <label>Mærke:</label>
          <input type="text" name="brand" required><br>

          <label>Model:</label>
          <input type="text" name="model" required><br>

          <label>Farve:</label>
          <input type="text" name="color" required><br>

          <label>Udstyrsniveau:</label>
          <input type="text" name="equipmentLevel" required><br>

          <label>Pris:</label>
          <input type="number" step="0.01" name="price" required><br>

          <label>URL til billede:</label>
          <input type="url" name="image" required><br>

          <div class="button-group">
            <button type="submit" class="submit">Gem Bil</button>
          </div>
        </form>
      </div>

    </section>
  </main>

  <div class="footer">
    <p>Bilabonnement | Medarbejderportal | Kontakt os på support@bilabonnement.dk</p>
  </div>
</div>

</body>
</html>
