<!DOCTYPE  html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Færdig med Skaderapport</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="layout">

    <div class="header">
        <div class="logo">
            <a th:href="@{/dashboard}"><img src="/img/Logo.png" alt="BILABONNEMENT Logo"></a>
        </div>
        <h3>Medarbejderportal</h3>
        <nav>
            <a th:href="@{/damageReport}" class="back-btn">Tilbage</a>
            <a th:href="@{/}" class="back-btn">Log ud</a>
        </nav>
    </div>

    <main class="main-content">
        <section class="confirmation">
            <h1>Færdig med Skaderapport</h1>
            <p>Din skaderapport er blevet gemt korrekt.</p>

            <div style="margin-top: 2rem;">
                <a th:href="@{/damageReport}" class="btn-link">Gå tilbage til skaderapporter</a>
            </div>
        </section>
    </main>

    <div class="footer">
        <p>Bilabonnement | Medarbejderportal | Kontakt os på support@bilabonnement.dk</p>
    </div>

</div>

</body>
</html>
