<!DOCTYPE  html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Udfyld Skaderapport</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="layout">

  <div class="header">
    <div class="logo">
      <a th:href="@{/dashboard}"><img src="/img/Logo.png" alt="BILABONNEMENT Logo"></a>
    </div>
    <h3>Medarbejderportal</h3>
    <nav>
      <a th:href="@{/damageReport}" class="back-btn">Tilbage</a>
      <a th:href="@{/}" class="back-btn">Log ud</a>
    </nav>
  </div>

  <main class="main-content">
    <section class="damageReportForm">
    <h2 th:text="'Laver skaderapport på bil ID: ' + ${car.carId} + ', Mærke: ' + ${car.brand} + ', Model: ' + ${car.model}">Bil-info</h2>

    <form th:action="@{/damageReportFill/{id}(id=${car.carId})}" method="POST">
      <label for="report">Skaderapport:</label>
      <textarea name="report" id="report" required></textarea>

      <label for="price">Pris:</label>
      <input type="number" name="price" id="price" required>

      <label for="customerEmail">Kundens E-mail:</label>
      <input type="email" name="customerEmail" id="customerEmail" required>

      <button type="submit">Indsend Rapport</button>
    </form>
    </section>
  </main>


  <div class="footer">
    <p>Bilabonnement | Medarbejderportal</p>
  </div>

</div>
</body>
</html>
