<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Skadesrapport Historik - Bilabonnement</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="layout">
    <div class="header">
        <div class="logo">
            <a th:href="@{/dashboard}"><img src="/img/Logo.png" alt="Logo"></a>
        </div>
        <h3>Medarbejderportal</h3>
        <nav>
            <a th:href="@{/damageReport}" class="back-btn">Tilbage</a>
            <a th:href="@{/}" class="back-btn">Log ud</a>
        </nav>
    </div>

    <section class="hero">
        <h1>Historik over skaderapporter</h1>
    </section>

    <main class="main-content">
        <section class="dashboard">
            <div class="report-list">
                <table class="styled-table">
                    <thead>
                    <tr>
                        <th>Model</th>
                        <th>Stelnummer</th>
                        <th>Registreringsnummer</th>
                        <th>Kunde</th>
                        <th>Se rapport</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="report : ${damageReports}">
                        <td th:text="${report.car.model}">Model</td>
                        <td th:text="${report.car.chassisNumber}">Stelnummer</td>
                        <td th:text="${report.car.licensePlate}">Nummerplade</td>
                        <td th:text="${report.customerEmail}">Kunde</td>
                        <td><a th:href="@{'/damageReportDone/' + ${report.car.carId}}" class="btn-link">Vis</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>

    <div class="footer">
        <p>Bilabonnement | Medarbejderportal | support@bilabonnement.dk</p>
    </div>
</div>
</body>
</html>
