<!-- Oversigt over manglende skadesrapporter -->
<!-- Julius Gissel -->

<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skadesrapporter - Bilabonnement</title>
    <link rel="icon" href="/img/fav.png" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="layout">
    <div class="header">
        <div class="logo">
            <a th:href="@{/dashboard}">
                <img src="/img/Logo.png" alt="BILABONNEMENT Logo">
            </a>
        </div>
        <h3>Medarbejderportal</h3>
        <nav>
            <a th:href="@{/dashboard}" class="back-btn">Tilbage</a>
            <a th:href="@{/}" class="back-btn">Log ud</a>
        </nav>
    </div>

    <section class="hero">
        <h1>Skadesrapporter</h1>
        <p>Herunder ser du biler, der kræver en skadesrapport.</p>
    </section>

    <main class="main-content">
        <div class="search-dashboard">
            <table class="styled-table">
                <thead>
                <tr>
                    <th>Bil ID</th>
                    <th>Mærke</th>
                    <th>Model</th>
                    <th>Nummerplade</th>
                    <th>Handling</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="car : ${cars}">
                    <td th:text="${car.carId}"></td>
                    <td th:text="${car.brand}"></td>
                    <td th:text="${car.model}"></td>
                    <td th:text="${car.licensePlate}"></td>
                    <td>
                        <th:block th:if="${limitedCarsReadyForPurchase.contains(car.carId)}">
                            <a th:href="@{/damageReportFill/{id}(id=${car.carId})}" class="btn-link">Udfyld skadesrapport</a>
                            <a th:href="@{/buyCar/{id}(id=${car.carId})}" class="btn-link">Bil købt af kunde</a>
                        </th:block>
                        <th:block th:unless="${limitedCarsReadyForPurchase.contains(car.carId)}">
                            <a th:href="@{/damageReportFill/{id}(id=${car.carId})}" class="btn-link">Udfyld skadesrapport</a>
                        </th:block>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>

    <div class="footer">
        <p>Bilabonnement | Medarbejderportal | Kontakt os på support@bilabonnement.dk</p>
    </div>
</div>
</body>
</html>