<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medarbejder Dashboard - Bilabonnement</title>
    <link rel="icon" href="/img/fav.png" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="layout">

    <div class="header">
        <div class="logo">
            <a th:href="@{/EmployeeLogin/dashboard}"><img src="/img/Logo.png" alt="BILABONNEMENT Logo"></a>
        </div>
        <h3>Medarbejderportal</h3>
        <nav>
            <a th:href="@{/static}" class="back-btn">Log ud</a>
        </nav>
    </div>

    <section class="hero">
        <h1>Velkommen til Medarbejder Dashboard</h1>
        <p>Administrer bilabonnementer, skaderapporter og medarbejderdata.</p>
    </section>
    <main class="main-content">

        <section class="dashboard">
            <div class="card">
                <h3>Tilføj Bil</h3>
                <a th:href="@{/EmployeeLogin/viewAllCarsAndAddCar}" class="btn-link">Tilføj Bil</a>
            </div>

            <div class="card">
                <h3>Levering Og Registrering</h3>
                <a th:href="@{/EmployeeLogin/deliverCar}" class="btn-link">Lever Og Registrering</a>
            </div>

            <div class="card">
                <h3>Udlejede Biler</h3>
                <a th:href="@{/EmployeeLogin/carOverviewEmployee}" class="btn-link">Se Oversigt</a>
            </div>

            <div class="card">
                <h3>Skaderapport</h3>
                <a th:href="@{/EmployeeLogin/damageReport}" class="btn-link">Vis Skaderapporter</a>
            </div>

            <div class="card">
                <h3>KPI Og Statisiker</h3>
                <a th:href="@{/EmployeeLogin/statistics}" class="btn-link">KPI- og statistikker</a>
            </div>

            <div class="card">
                <h3>Søg Medarbejder</h3>
                <a th:href="@{/EmployeeLogin/searchEmployee}" class="btn-link">Søg medarbejder</a>
            </div>
        </section>
    </main>

    <div class="footer">
        <p>Bilabonnement | Medarbejderportal | Kontakt os på support@bilabonnement.dk</p>
    </div>
</div>

</body>
</html>
