<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medarbejder Dashboard - Bilabonnement</title>
    <link rel="icon" href="/img/fav.png" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="layout">

    <div class="header">
        <div class="logo">
            <a th:href="@{/dashboard}"><img src="/img/Logo.png" alt="BILABONNEMENT Logo"></a>
        </div>
        <h3>Medarbejderportal</h3>
        <nav>
            <a th:href="@{/}" class="back-btn">Log ud</a>
        </nav>
    </div>

    <section class="hero">
        <h1>Velkommen til Medarbejder Dashboard</h1>
        <p>Administrer bilabonnementer, skaderapporter og medarbejderdata.</p>
    </section>
    <main class="main-content">

        <section class="dashboard">
            <div class="card">
                <h3>Tilføj Bil</h3>
                <a th:href="@{/addCars}" class="btn-link">Tryk her</a>
            </div>

            <div class="card">
                <h3>Levering & Registrering</h3>
                <a th:href="@{/registerAndDeliverCar}" class="btn-link">Tryk her</a>
            </div>

            <div class="card">
                <h3>Udlejede Biler</h3>
                <a th:href="@{/carOverview}" class="btn-link">Tryk her</a>
            </div>

            <div class="card">
                <h3>Skaderapport</h3>
                <a th:href="@{/damageReport}" class="btn-link">Tryk her</a>
            </div>

            <div class="card">
                <h3>KPI- & Statisiker</h3>
                <a th:href="@{/statistics}" class="btn-link">Tryk her</a>
            </div>

            <div class="card">
                <h3>Se liste over medarbejdere</h3>
                <a th:href="@{/employeeOverview}" class="btn-link">Tryk her</a>
            </div>
        </section>
    </main>

    <div class="footer">
        <p>Bilabonnement | Medarbejderportal | Kontakt os på support@bilabonnement.dk</p>
    </div>
</div>

</body>
</html>
