<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biloversigt - Bilabonnement</title>
    <link rel="icon" href="/img/fav.png" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="layout">

    <div class="header">
        <div class="logo">
            <a th:href="@{/dashboard}"><img src="/img/Logo.png" alt="BILABONNEMENT Logo"></a>
        </div>
        <h3>Medarbejderportal</h3>
        <nav>
            <a th:href="@{/dashboard}" class="back-btn">Tilbage</a>
            <a th:href="@{/}" class="back-btn">Log ud</a>
        </nav>
    </div>

    <section class="hero">
        <h1>Biloversigt</h1>
        <p>Her kan du finde en liste over alle biler og deres gennemsnitlige udlejningsvarighed.</p>
    </section>

    <main class="main-content">
        <section class="dashboard">
            <div class="card">
                <h3>Liste over alle biler</h3>
                <table>
                    <thead>
                    <tr>
                        <th>Bil ID</th>
                        <th>Brand</th>
                        <th>Model</th>
                        <th>Gennemsnitlig Tilgængelighedsperiode</th>
                        <th>Gennemsnitlig Udlejningsvarighed</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="car : ${cars}">
                        <td th:text="${car.carId}"></td>
                        <td th:text="${car.brand}"></td>
                        <td th:text="${car.model}"></td>

                        <td th:text="${car.averageAvailabilityDays != null ? car.averageAvailabilityDays + ' dage' : 'Data ikke tilgængelig'}"></td>
                        <td th:text="${car.averageRentalDuration != null ? car.averageRentalDuration + ' måneder' : 'Data ikke tilgængelig'}"></td>

                    </tr>
                    </tbody>
                </table>

            </div>
        </section>
    </main>

    <div class="footer">
        <p>Bilabonnement | Medarbejderportal | Kontakt os på support@bilabonnement.dk</p>
    </div>

</div>

</body>
</html>
