<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Udfyld Skaderapport</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="layout">

  <<div class="header">
  <div class="logo">
    <a th:href="@{/EmployeeLogin/dashboard}"><img src="/img/Logo.png" alt="BILABONNEMENT Logo"></a>
  </div>
  <h3>Medarbejderportal</h3>
  <nav>
    <a th:href="@{/}" class="back-btn">Log ud</a>
  </nav>
</div>

  <main class="main-content">
    <h1>Udfyld Skaderapport for: <span th:text="${car.brand} + ' ' + ${car.model}"></span></h1>

    <form th:action="@{/EmployeeLogin/damageReportFill/{id}(id=${car.carId})}" method="post">

      <label for="report">Beskrivelse af skade(r):</label><br>
      <textarea id="report" name="report" rows="6" cols="50" required></textarea><br><br>

      <label for="price">Skadepris:</label><br>
      <input type="number" id="price" name="price" min="0" step="0.01" required><br><br>

      <button type="submit" class="btn-link">Gem rapport</button>
    </form>
  </main>

  <div class="footer">
    <p>Bilabonnement | Medarbejderportal</p>
  </div>
</div>
</body>
</html>
