<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medarbejderopslag - Bilabonnement</title>
    <link rel="icon" href="/img/fav.png" type="image/x-icon" />
    <link rel="stylesheet" href="/style.css" />
</head>
<body>

<div class="layout">
    <div class="header">
        <div class="logo">
            <a th:href="@{/EmployeeLogin/dashboard}"><img src="/img/Logo.png" alt="BILABONNEMENT Logo"></a>
        </div>
        <h3>Medarbejderportal</h3>
        <nav>
            <a th:href="@{/}" class="back-btn">Log ud</a>
        </nav>
    </div>

    <section class="hero">
        <h1>Medarbejderoplysninger</h1>
    </section>

    <main class="main-content">

        <div class="search-dashboard">
            <h2>Alle Medarbejdere</h2>
            <table class="styled-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Brugernavn</th>
                    <th>Navn</th>
                </tr>
                </thead>
                <tbody>
                <div>
                <tr th:each="employee : ${employees}" class="card employee-card">
                    <td th:text="${employee.employeeId}"></td>
                    <td th:text="${employee.username}"></td>
                    <td th:text="${employee.fullName}"></td>
                </tr>
                </div>
                </tbody>
            </table>
        </div>
    </main>

    <div class="footer">
        <p>
            Bilabonnement | Medarbejderportal | Kontakt os på
            support@bilabonnement.dk
        </p>
    </div>

</div>

</body>
</html>
