<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login og Opret Bruger - Bilabonnement</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
<body>

<div class="layout">
  <div class="header">
    <div class="logo">BILABONNEMENT</div>
      <nav>
        <a th:href="@{/}" class="back-btn">Tilbage</a>
      </nav>
  </div>

  <main class="main-content">



  </main>

  <div class="footer">
    <p>Bilabonnement | Medarbejderportal | Kontakt os på support@bilabonnement.dk</p>
  </div>

</div>
</body>
</html>